<!doctype html>
<html class="no-js" lang="">
  {{> head}}
  <body>
    <header class="title">
      <a href="/">
        <img inline src="/src/svg/logo.svg" class="title__logo">
      </a>
      <div class="title__category">{{#attributes.categories}}{{.}} {{/attributes.categories}}</div>
      <div class="title__heading">
        <h1 class="heading">{{attributes.title}}</h1>
      </div>
      <div class="title__author">by Rob Byrne-Graham on {{dateFormat attributes.date 'Do MMMM YYYY'}}</div>
      <img inline src="/src/svg/divider.svg" class="divider">
    </header>

    <article class="article">
        {{{bodyFormatted}}}

        {{#attributes.showComments}}
        
        <img inline src="/src/svg/divider.svg" class="divider">

        <div class="article__comments" id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
        {{/attributes.showComments}}

    </article>

    {{>footer}}

    {{>fonts}}

    {{#attributes.showComments}}
    <script>
    var disqus_config = function () {
      this.page.url = 'https://robbg.io/blog/{{dateFormat attributes.date "YYYY-MM-DD"}}-{{attributes.fileName}}';
      this.page.identifier = '{{dateFormat attributes.date "YYYY-MM-DD"}}-{{attributes.fileName}}';
    };
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://robbg-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    {{/attributes.showComments}}

    {{#attributes.prettyCode}}
    <script inline src="/dist/js/lib/prism.js" />
    {{/attributes.prettyCode}}

  </body>
</html>
