<!doctype html>
<html class="no-js" lang="">
  {{> head}}
  <body>
    <header class="title">
      <a href="/">
        <img inline src="/src/svg/logo.svg" class="title__logo">
      </a>
      <div class="title__heading">      
        <h1 class="heading">Blog</h1>
      </div>
      <img inline src="/src/svg/divider.svg" class="divider">
    </header>

    <section class="previews">
      {{#items}}
      <article class="preview">
        <date class="preview__date">
          {{dateFormat attributes.date 'DD'}}
          <span>{{dateFormat attributes.date 'MMM'}}</span>
        </date>
        <div class="preview__content">
          <a href="/blog/{{dateFormat attributes.date 'YYYY-MM-DD'}}-{{attributes.fileName}}" class="preview__link">
            <h2 class="heading heading-medium">{{attributes.title}}</h2>
            <p class="preview__text">{{attributes.preview}}</p>
          </a>
        </div>
      </article>
      {{/items}}
    </section>

    {{>footer}}

    {{>fonts}}
  </body>
</html>
